html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    background-color: #f8f9fa;
    font-family: "Roboto", sans-serif;
}

main {
    background-color: #caf0f8;
    max-width: 1000px;
    padding: 0 40px 0 40px;
    border-radius: 10%;
}

h1 {
    margin: 20px 0 20px 0;
    padding-top: 20px;
}

p {
    margin-bottom: 20px;

}

#search {
    margin: 20px 0 20px 0;
    max-width: 500px;
}

#submit {
    margin-bottom: 20px;
}

#thumbnail {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 295px;
}